body {
    font-family: Arial, sans-serif;
    background-color: #a49d9d;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #bcaae1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #1d037b;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #270c87;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a0448d;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
